.Container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  z-index: 999;
}

.imageText {
  height: 80px;
}

@media (min-width: 500px) {
  .imageText {
    height: 150px;
  }
}
