.Container {
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  margin: 0 auto;
  padding: 0 20px;
  background-color: white;
  transition: all 0.4s ease-out;
}

.btnClose {
  width: 150px;
  height: 50px;
  display: block;
}

.ModalOpen {
  animation: openModal 0.4s ease-out forwards;
}

.ModalClosed {
  animation: closeModal 0.4s ease-out forwards;
}

@keyframes openModal {
  0% {
    transform: translateY(-100%);
  }
  25% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes closeModal {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-25%);
  }
  50% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(-100%);
  }
}

@media (min-width: 500px) {
  .Container {
    height: 60vh;
  }
}

@media (min-width: 1000px) {
  .Container {
    width: 900px;
    height: 250px;
  }
}
