.Container {
  display: flex;
  flex-direction: column;
}

.btnOpen {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  border: none;
  color: #46474d;
  background: none;
  font-size: 20px;
  cursor: pointer;
  align-self: center;
  border: 2px solid #fcbc25;
  border-radius: 15px;
}

.btnOpen:focus,
.btnOpen:active {
  outline: none;
}

.btnText {
  padding-left: 10px;
  font-size: 20px;
}

@media (min-width: 1000px) {
  .btnOpen {
    display: none;
  }
}
