.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 250px;
}

.ImageBox {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
}

.Image {
  height: 200px;
  width: 200px;
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.Image:hover,
.Image:focus {
  transform: scale(1);
}

.nameCharacter {
  color: #46474d;
  padding: 5px 0;
}
